Repository zolplay-cn/website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-site, deploy-api

.gitlab-ci.yml:

# 该文件只供 jihulab 进行 CD 部署
# 详情请看: https://docs.gitlab.com/ee/ci/yaml/index.html

image: alpine:latest

stages: # List of stages for jobs, and their order of execution
  - deploy

deploy-site:
  stage: deploy
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apk add --update openssh )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $VM_IPADDRESS >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - echo "部署应用中..."
    - ssh $SSH_USER@$VM_IPADDRESS "cd $SSH_SITE_DIRECTORY && git pull && sh deploy.sh"
    - echo "应用已成功部署。"
  only:
    refs:
      - main
    changes:
      - apps/web-cn/**/*
      - packages/ui/**/*
      - .gitlab-ci.yml
deploy-api: # This job runs in the deploy-api stage.
  stage: deploy
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apk add --update openssh )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $VM_IPADDRESS >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - echo "部署API中..."
    - ssh $SSH_USER@$VM_IPADDRESS "cd $SSH_SITE_DIRECTORY && git pull && sh deploy-api.sh"
    - echo "API已成功部署。"
  only:
    refs:
      - main
    changes:
      - apps/api-cn/**/*
      - .gitlab-ci.yml

Make changes for api and add auth modal
  .gitignore
  apps/api-cn/package.json
  apps/api-cn/prisma/dbml/schema.dbml
  apps/api-cn/prisma/migrations/20220405151850_init/migration.sql
  apps/api-cn/prisma/migrations/migration_lock.toml
  apps/api-cn/prisma/schema.prisma
  apps/api-cn/prisma/seed.ts
  apps/api-cn/src/auth/auth.resolver.ts
  apps/api-cn/src/auth/auth.service.ts
  apps/api-cn/src/auth/dto/sms.input.ts
  apps/web-cn/.graphqlconfig
  apps/web-cn/@types/data.d.ts
  apps/web-cn/components/NavBar.tsx
  apps/web-cn/components/auth/GuestOnly.tsx
  apps/web-cn/components/auth/MemberOnly.tsx
  apps/web-cn/components/live/LiveAvatars.tsx
  apps/web-cn/components/modals/AuthModal.tsx
  apps/web-cn/hooks/useAuth.ts
  apps/web-cn/lib/apollo.ts
  apps/web-cn/lib/hooks/useInterval.ts
  apps/web-cn/lib/hooks/useIsomorphicLayoutEffect.ts
  apps/web-cn/package.json
  apps/web-cn/pages/_app.tsx
  apps/web-cn/store/app.store.ts
  apps/web-cn/styles/globals.css
  apps/web-cn/styles/toaster.css
  pnpm-lock.yaml
Due: deploy-site, deploy-api

Fix web-cn build errors
  apps/web-cn/lib/apollo.ts
  apps/web-cn/pages/api/live/auth.ts
  apps/web-cn/store/app.store.ts
  apps/web-cn/tsconfig.json
Due: deploy-site

Close frontend engineer position
  apps/web-cn/config/navigation.tsx
  apps/web-cn/lib/data.ts
  apps/web-cn/pages/index.tsx
  apps/web/config/navigation.tsx
  apps/web/lib/data.ts
  apps/web/pages/index.tsx
Due: deploy-site

Add mobile app engineer to open jobs
  apps/web-cn/components/careers/AllPositions.tsx
  apps/web-cn/lib/data.ts
  apps/web-cn/pages/careers/mobile-app-engineer/index.mdx
Due: deploy-site

Rename mobile-app to ios
  apps/web-cn/lib/data.ts
  apps/web-cn/pages/careers/ios-engineer/index.mdx
Due: deploy-site

Update Chinese job postings
  apps/web-cn/lib/data.ts
  apps/web-cn/pages/careers/senior-frontend-engineer/index.mdx
Due: deploy-site

Fix Chinese wordings
  apps/web-cn/components/NavBar.tsx
  apps/web-cn/components/modals/AuthModal.tsx
  apps/web-cn/pages/careers/frontend-engineer/take-home.mdx
  apps/web/pages/careers/frontend-engineer/take-home.mdx
Due: deploy-site

Update iOS interview hands on question
  apps/web-cn/pages/careers/interviews/ios.tsx
  apps/web-cn/pages/careers/interviews/react.tsx
Due: deploy-site

Add react interview page
  apps/web-cn/assets/Slack Clone 1.png
  apps/web-cn/pages/careers/interviews/react.tsx
Due: deploy-site

Update react interview notes
  apps/web-cn/assets/Slack Clone 1.png
  apps/web-cn/assets/react-interview-example.png
  apps/web-cn/pages/careers/interviews/react.tsx
Due: deploy-site

feat: add more schema types
  app/globals.css
  i18n.ts
  lib/sanity.api.ts
  package.json
  plugins/previewPane/index.tsx
  plugins/settings.ts
  pnpm-lock.yaml
  sanity.config.ts
  schemas/documents/job.ts
  schemas/documents/member.ts
  schemas/documents/squad.ts
  schemas/objects/localeString.ts
Due: none

feat: add i18n routing and messages
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  i18n.server.ts
  messages/en.json
  messages/zh-CN.json
  middleware.ts
  next.config.mjs
Due: none

fix: update prettier workflow target to prs
  .github/workflows/prettier.yml
Due: none

handle font optimizations for both locales
  app/[locale]/layout.tsx
  app/globals.css
  package.json
  pnpm-lock.yaml
Due: none

add basic layout stylings
  app/[locale]/layout.tsx
  app/globals.css
  package.json
  prettier.config.js
  tailwind.config.js
Due: none

add layout components
  app/Background.tsx
  app/Rulers.tsx
  app/Sidebar.tsx
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  app/globals.css
  components/Logo.tsx
  public/assets/grid.svg
Due: none

add more stuff into sidebar
  app/Analytics.tsx
  app/LocaleSelector.tsx
  app/Rulers.tsx
  app/Sidebar.tsx
  app/ThemeSelector.tsx
  app/ThemeToggle.tsx
  app/[locale]/careers/page.tsx
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  app/app.d.ts
  components/Logo.tsx
  components/ui/Select.tsx
  i18n.server.ts
  messages/en.json
  messages/zh-CN.json
  middleware.ts
  next.config.mjs
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: none

finish home page
  app/LocaleSelector.tsx
  app/Sidebar.tsx
  app/[locale]/about/page.tsx
  app/[locale]/contact/page.tsx
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  app/[locale]/portfolio/page.tsx
  app/[locale]/services/page.tsx
  app/[locale]/zolplay-office-couch-shot.jpg
  app/[locale]/zolplay-poster.png
  app/globals.css
  components/Logo.tsx
  components/ui/RichText.tsx
  components/ui/Select.tsx
  messages/en.json
  messages/zh-CN.json
  package.json
  public/assets/android-chrome-192x192.png
  public/assets/android-chrome-512x512.png
  public/assets/apple-touch-icon.png
  public/assets/browserconfig.xml
  public/assets/favicon-16x16.png
  public/assets/favicon-32x32.png
  public/assets/favicon.ico
  public/assets/mstile-150x150.png
  public/assets/noise.png
  public/assets/safari-pinned-tab.svg
  public/assets/site.webmanifest
  public/favicon.ico
  schemas/documents/job.ts
Due: none

update home copy
  messages/en.json
  messages/zh-CN.json
Due: none

fix: background color level
  app/[locale]/layout.tsx
  app/globals.css
Due: none

optimize mobile + add careers copy
  app/LocaleSelector.tsx
  app/Rulers.tsx
  app/Sidebar.tsx
  app/ThemeSelector.tsx
  app/[locale]/careers/Careers.tsx
  app/[locale]/careers/page.tsx
  app/[locale]/layout.tsx
  messages/en.json
  messages/zh-CN.json
Due: none

fix: build error
  app/[locale]/careers/Careers.tsx
  messages/en.json
  messages/zh-CN.json
  package.json
  pnpm-lock.yaml
Due: none

add feature image to careers
  app/LocaleSelector.tsx
  app/Sidebar.tsx
  app/[locale]/careers/Careers.tsx
  app/[locale]/careers/careers-workshop.jpg
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  app/globals.css
Due: none

add jobs
  app/[locale]/careers/Careers.tsx
  app/[locale]/careers/[id]/page.tsx
  app/[locale]/careers/page.tsx
  components/ui/RichText.tsx
  lib/sanity.client.ts
  lib/sanity.queries.ts
  messages/en.json
  messages/zh-CN.json
  schemas/documents/job.ts
Due: none

add footer component
  app/Footer.tsx
  app/[locale]/layout.tsx
  app/globals.css
  messages/en.json
  messages/zh-CN.json
Due: none

add more content to careers
  app/Footer.tsx
  app/Sidebar.tsx
  app/[locale]/about/page.tsx
  app/[locale]/careers/Careers.tsx
  app/[locale]/careers/[id]/page.tsx
  app/[locale]/careers/page.tsx
  app/[locale]/contact/page.tsx
  app/[locale]/gallery/page.tsx
  app/[locale]/portfolio/page.tsx
  app/[locale]/services/page.tsx
  components/Benefits.tsx
  components/OurStacks.tsx
  components/OurTools.tsx
  components/ui/RichText.tsx
  components/ui/Select.tsx
  lib/sanity.queries.ts
  messages/en.json
  messages/zh-CN.json
  sanity.config.ts
  schemas/documents/job.ts
  schemas/objects/blockContent.tsx
Due: none

update careers intro copy in zh-CN
  messages/zh-CN.json
Due: none

update text copy and add preface styles
  app/[locale]/careers/Careers.tsx
  components/OurStacks.tsx
  messages/en.json
  messages/zh-CN.json
Due: none

add page transition in template.tsx
  app/[locale]/template.tsx
Due: none

fix: side bar select
  app/LocaleSelector.tsx
  app/Sidebar.tsx
  app/ThemeSelector.tsx
  components/ui/Select.tsx
Due: none

fix: page transitions
  app/[locale]/template.tsx
Due: none

add clock to sidebar
  app/Sidebar.tsx
  app/[locale]/careers/Careers.tsx
  app/[locale]/error.tsx
  components/ui/Clock.tsx
  messages/en.json
  messages/zh-CN.json
  package.json
  pnpm-lock.yaml
Due: none

feat: add job application form
  .env.example
  app/Sidebar.tsx
  app/Toasts.tsx
  app/[locale]/careers/Careers.tsx
  app/[locale]/layout.tsx
  app/api/careers/route.ts
  app/globals.css
  components/ui/Button.tsx
  components/ui/Clock.tsx
  components/ui/Hr.tsx
  messages/en.json
  messages/zh-CN.json
  next.config.mjs
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: none

fix: api/careers runtime
  app/api/careers/route.ts
Due: none

update html styles
  app/globals.css
Due: none

update domain i18n settings
  middleware.ts
Due: none

update locale switcher domain
  app/LocaleSelector.tsx
Due: none

update background styles
  app/Background.tsx
Due: none

try to remove Grids
  app/Background.tsx
Due: none
